<script async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1768053707270113"
        crossorigin="anonymous"></script>

<div class="ad-area">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1768053707270113"
         data-ad-slot="YOUR_AD_SLOT_ID"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>

    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>