.profile-image img{
    width:55px;
    height:55px;
    object-fit:cover;
    border-radius:50%;
}

.profile-card{
    width:80%;
    max-width:400px;
    height:70px;
    margin:10px auto;
    padding:5px 15px;
    display:flex;
    align-items:center;
    border-radius:15px;
    background:rgba(255,255,255,.85);
    box-sizing:border-box;
}

.profile-info{
    margin-left:15px;
}

.profile-name{
    font-size:18px;
    font-weight:bold;
}

.member-history{
    margin-top:5px;
    font-size:12px;
}


/*==========================
    横長ボタン
==========================*/

.wide-btn{
    width:80%;
    max-width:400px;
    height:70px;
    margin:10px auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    border-radius:15px;
    background:rgba(255,255,255,.88);
    text-decoration:none;
    box-shadow:0 2px 6px rgba(0,0,0,.12);
    box-sizing:border-box;
}


.wide-btn img{
    width:45px;
    height:45px;
    object-fit:contain;
    margin-right:15px;
}


/*==========================
    2列メニュー
==========================*/

.menu-grid{
    width:80%;
    max-width:400px;
    margin:10px auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}


/*==========================
    メニューボタン
==========================*/

.menu-btn{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:70px;
    border-radius:15px;
    background:rgba(255,255,255,.88);
    text-decoration:none;
    box-shadow:0 2px 6px rgba(0,0,0,.12);
    transition:.2s;
}


.menu-btn img{
    width:35px;
    height:35px;
    object-fit:contain;
    margin-right:10px;
}


.menu-btn span{
    font-size:14px;
    font-weight:bold;
    color:#333;
}


.menu-btn:hover,
.wide-btn:hover{
    transform:scale(1.03);
}

/* ==========================
   設定モーダル
========================== */

.setting-modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
    z-index:1000;
}

.setting-box{
    width:80%;
    max-width:350px;
    background:white;
    border-radius:20px;
    padding:20px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.setting-box h2{
    text-align:center;
    margin-bottom:20px;
}

.setting-box h3{
    font-size:14px;
    margin-top:20px;
    margin-bottom:5px;
    color:#888;
}

.setting-box a{
    display:block;
    padding:15px;
    border-bottom:1px solid #ddd;
    color:#333;
    text-decoration:none;
}