{% extends "templates/commons/base.html" %}

{% block title %}マスタ管理 - 推し活オールインワン{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/admin/master/admin-common.css">
<link rel="stylesheet" href="/static/css/admin/master/master.css">
{% endblock %}

{% block content %}

<div class="master-scroll">

    <h1 class="page-title">
        マスタ管理
    </h1>

    <div class="master-grid">

        <a href="/admin/master/song?first" class="master-btn">
            曲管理
        </a>

        <a href="/admin/master/venue?first" class="master-btn">
            会場管理
        </a>

        <a href="/admin/master/live?first" class="master-btn">
            ライブ管理
        </a>

        <a href="/admin/master/meeting?first" class="master-btn">
            町民集会管理
        </a>

        <a href="#" class="master-btn">
            イベント管理
        </a>

        <a href="#" class="master-btn">
            グッズ管理
        </a>

        <a href="#" class="master-btn">
            メロフラ管理
        </a>

        <a href="/admin/master/oshi" class="master-btn">
            推し情報管理
        </a>

        <a href="/admin/master/oshi_work" class="master-btn">
            出演作品
        </a>

        <a href="/admin/master/oshi_anniversary" class="master-btn">
            記念日
        </a>

        <a href="/admin/master/oshi_official_link" class="master-btn">
            公式リンク
        </a>

        <a href="/admin/master/oshi_program" class="master-btn">
            ラジオ・番組
        </a>

    </div>


    <h1 class="page-title">
        システム管理
    </h1>

    <div class="master-grid">
        <form action="/admin/master/weather/update" method="post" class="master-form">
            <button type="submit" class="master-btn">
                天気予報更新
            </button>
        </form>
    </div>

</div>

{% endblock %}
{% block script %}

<script src="/static/js/common.js"></script>

{% if message %}
<script>
    showToast("{{ message }}");
</script>
{% endif %}

{% endblock %}