<!DOCTYPE html>
<html lang="ja">

</head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/img/logo.png" type="image/png">
        <title>推し活オールインワン</title>

        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/admin/master/master.css">
    </head>

<body>
{% include "templates/commons/header.html" %}

<h1 class="page-title">
    マスタ管理
</h1>
<div class="master-grid">
    <a href="/admin/master/song" class="master-btn">
        曲管理
    </a>
    <a href="#" class="master-btn">
        ライブ管理
    </a>
    <a href="#" class="master-btn">
        町民集会管理
    </a>
    <a href="#" class="master-btn">
        イベント管理
    </a>
    <a href="#" class="master-btn">
        グッズ管理
    </a>
    <a href="#" class="master-btn">
        メロフラ管理
    </a>
</div>

</body>
</html>