<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/img/logo.png" type="image/png">

    <title>ライブ一覧</title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/home/live/live.css">
</head>
<body>

<div class="background">
    {% include "templates/commons/header.html" %}
    <div class="page-scroll">
        <div class="container">
            {% if lives %}
            <div class="live-slider">
                {% for live in lives %}
                <div class="live-card">
                    <div class="live-name">
                        {{ live.live_name }}
                    </div>

                    <div class="tour-name">
                        {{ live.tour_name }}
                    </div>

                    <div class="live-info">
                        <div>
                            📅 {{ live.live_date }}
                            (あと{{ live.remaining_days }}日！)
                        </div>

                        <div>
                            📍 {{ live.prefecture_name }}
                            {{ live.venue_name }}
                        </div>
                    </div>

                    {% if live.is_join %}
                    <div class="join-status">
                        参加予定
                    </div>
                    {% endif %}

                    {% if live.is_join %}
                    <a href="/home/live/history/detail/{{ live.live_id }}?from=live" class="add-history">
                        記録
                    </a>
                    {% endif %}
                    <a href="/home/live/detail/{{ live.live_id }}"
                        class="detail-btn">
                        詳細
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="no-live">
                現在、開催予定のライブはありません
            </div>
            {% endif %}
            <div class="menu-grid">
                <a href="/home/live/archive" class="menu-btn">
                    <span>アーカイブ</span>
                </a>
                <a href="/home/live/history" class="menu-btn">
                    <span>参加履歴</span>
                </a>
                <a href="/home/live/collected_song" class="menu-btn">
                    <span>回収済み</span>
                </a>
                <a href="/home/live/prediction" class="menu-btn">
                    <span>セトリ予測</span>
                </a>
            </div>
            <a href="#" class="menu-btn wide-btn not-implemented">
                <span>忘れ物チェック</span>
            </a>
        </div>
    </div>
</div>
<div id="toast" class="toast"></div>

<script src="/static/js/common.js"></script>

{% if message %}
<script>
    showToast("{{ message }}");
</script>
{% endif %}
</body>
</html>