{% extends "templates/commons/base.html" %}

{% block title %}推し活オールインワン{% endblock %}

{% block description %}
水瀬いのりさんのファンが利用できる非公式の推し活管理Webツールです。
{% endblock %}

{% block header %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/top/top.css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">

        <!-- タイトル -->
        <div class="logo-area">
            <img src="/static/img/title_logo.png" class="logo" alt="タイトルロゴ">
        </div>

        <!-- 説明 -->
        <div class="attention-area">
            <p class="attention">
                スマートフォンでの利用を想定したシステムです。<br>
                PC・タブレットでの利用は保障していません。
            </p>
        </div>

        <!-- ボタン -->
        <div class="button-area">
            <a href="/login">
                <img src="/static/img/login_button.png"
                     class="button-image"
                     alt="ログイン">
            </a>
            <a href="/register">
                <img src="/static/img/register_button.png"
                     class="button-image"
                     alt="新規登録">
            </a>
        </div>

        <!-- 注釈 -->
        <div class="description-area">
            <p class="description">
                本サービスはファンが制作した非公式ツールです<br>
                所属事務所・レコード会社・公式運営とは一切関係ありません<br>
                掲載される名称・商標等の権利は各権利者に帰属します
            </p>
        </div>

    </div>
</div>
{% endblock %}